$black: #000;
$white: #fff;
$golden: #f8cc31;

// bases
$color-background: #f8f8f8;
$color-text: $black;
$color-nav-hamburger: #6c5e5e;

// opacity levels
$opacity-100: 1;
$opacity-50: 0.5;
$opacity-70: 0.7;

// grays
$gray-1: #d9d9d9;
