.album {
  position: relative;

  &-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: $default-album-height;
    transform: translateX(-50%) translateY(-50%);

    &--withNumbers {
      border-radius: 0;
      @include mobile-view {
        height: $with-numbers-album-height-mobile;
      }

      @include desktop-view {
        height: $with-numbers-album-height-desktop;
      }
    }
  }

  &-counter {
    position: absolute;
    z-index: 1;
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%);
    color: $color-text-light;
  }

  &-counterText {
    text-shadow: 0 4px 4px #000;
  }
}
