.buttonHollow {
  position: relative;
  width: 100%;
  border-style: solid;
  color: $color-text-light;
  cursor: pointer;
  @extend %full-flex, %flex-center-column;
  @include mobile-view {
    padding-top: 12px;
    padding-bottom: 12px;
    border-width: 2px;
  }
  @include desktop-view {
    height: 170px;
    border-width: 3px;
  }

  &-title {
    @include desktop-view {
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.3s ease-in-out top;

      .buttonHollow:hover & {
        top: 30%;
        transition: 0.3s ease-in-out top;
      }
    }
  }

  &-description {
    opacity: 0;
    @include mobile-view {
      display: none;
      visibility: hidden;
    }

    @include desktop-view {
      position: absolute;
      top: 60%;
      transform: translateY(-50%);
      transition: 0.3s ease-in-out;
      transition-property: top, opacity;
      opacity: 0;
      text-align: center;

      .buttonHollow:hover & {
        top: 55%;
        transition: 0.3s ease-in-out;
        transition-property: top, opacity;
        opacity: 1;
      }
    }
  }

  &--one {
    border-color: $bg-button-murid;

    &:hover {
      background-color: $bg-button-murid;
      color: $color-default-text;
    }
  }

  &--two {
    border-color: $bg-button-donatur;

    &:hover {
      background-color: $bg-button-donatur;
      color: $color-default-text;
    }
  }

  &--three {
    border-color: $bg-button-voluntir;

    &:hover {
      background-color: $bg-button-voluntir;
      color: $color-default-text;
    }
  }
}
