.popup {
  @extend %full-flex, %flex-center;

  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &-background {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bg-popup-layer;
  }

  &-body {
    position: relative;
    z-index: 1;
    background-color: $bg-section-highlight;
    color: $color-text-light;

    @include mobile-view {
      width: 300px;
      height: 89vh;
      max-height: 560px;
      padding: 100px 18px 50px;
    }
    @include desktop-view {
      width: 996px;
      height: 660px;
      padding: 100px;
    }
  }

  &-iconClose {
    position: absolute;

    @include mobile-view {
      top: 20px;
      right: 20px;
      width: 30px;
      height: 30px;
    }
    @include desktop-view {
      top: 38px;
      right: 38px;
      width: 48px;
      height: 48px;
      cursor: pointer;
    }
  }

  &-wrapper {
    @extend %full-flex, %flex-center-row;

    align-items: flex-start;

    @include mobile-view {
      width: calc(100% + $gutter-mobile);
      height: calc(100% - 80px);
      margin: 25px $gutter-mobile/-2 0;
      overflow-y: scroll;
    }

    @include desktop-view {
      width: calc(100% + $gutter-desktop);
      margin: 25px $gutter-desktop/-2 0;
    }

    &--isWithButtons {
      @include mobile-view {
        height: 55%;
      }
    }

    p {
      font-weight: 400;
      white-space: preserve;
    }

    strong {
      font-weight: 800;
    }

    h2 {
      margin-bottom: 10px;
      font-weight: 400;
      @include mobile-view {
        font-size: 16px;
      }
      @include desktop-view {
        font-size: 24px;
      }
    }

    li {
      div {
        @extend %flex-center-column;

        position: relative;
        margin: 0;
        padding-left: 20px;
        list-style-type: none;

        &::before {
          content: '';
          position: absolute;
          top: 7px;
          left: 0;
          width: 10px;
          height: 10px;
          border-radius: 100%;
          background-color: $bg-bullet-default;
        }
      }

      strong {
        margin-bottom: 3px;
        line-height: 1;
      }
    }
  }

  &-buttonList {
    @extend %full-flex;

    position: absolute;
    bottom: 50px;
    left: 0;
    justify-content: center;
    width: 100%;
    @include mobile-view {
      flex-direction: column;
      align-items: flex-start;
      padding: 0 18px;
    }
    @include desktop-view {
      flex-direction: row;
      align-items: center;
      padding: unset;
    }
  }

  &-buttonItem {
    @include mobile-view {
      margin-bottom: 8px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
    @include desktop-view {
      margin-right: 22px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &-content {
    &--fiftyFifty {
      @extend %col-mobile--6;
      @extend %col-desktop--6;

      &:last-of-type {
        @include mobile-view {
          margin-top: 1.6em;
        }
      }
    }

    &--thirtySeventy {
      &:first-of-type {
        @extend %col-mobile--6;
        @extend %col-desktop--4;
      }

      &:last-of-type {
        @extend %col-mobile--6;
        @extend %col-desktop--8;
        @include mobile-view {
          margin-top: 1.6em;
        }
      }
    }

    &--sixtyForty {
      &:first-of-type {
        @extend %col-mobile--6;
        @extend %col-desktop--7;
      }

      &:last-of-type {
        @extend %col-mobile--6;
        @extend %col-desktop--5;
        @include mobile-view {
          margin-top: 1.6em;
        }
      }
    }

    &--hundredZero {
      @extend %col-mobile--6;
      @extend %col-desktop--12;

      &:last-of-type {
        @include mobile-view {
          margin-top: 1.6em;
        }
      }
    }
  }
}
