$css: '.articleItem';

#{$css} {
  @extend %full-flex, %flex-start-column;

  &-title {
    margin-bottom: 3px;
    @include desktop-view {
      margin-bottom: 8px;
    }

    &Text {
      @extend %typography-card-title;
    }
  }

  &-iconArrow {
    @include arrow($parent-css: #{$css});
  }

  &-date {
    @extend %typography-card-caption;

    margin-bottom: 3px;
    @include desktop-view {
      margin-bottom: 8px;
    }
  }

  &-tagList {
    @extend %inline-flex;
  }

  &-tagItem {
    margin-right: 10px;
  }
}
