.articleItem {
  @extend %inline-flex;

  flex-direction: column;
  width: 100%;

  &-title {
    @extend %typography-card-title;

    margin-bottom: 3px;
    @include desktop-view {
      margin-bottom: 8px;
    }
  }

  &-date {
    @extend %typography-card-caption;

    margin-bottom: 3px;
    @include desktop-view {
      margin-bottom: 8px;
    }
  }

  &-tagList {
    @extend %inline-flex;
  }

  &-tagItem {
    margin-right: 10px;
  }
}
