.nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;

  &-wrapper {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;

    @include desktop-view {
      width: auto;
    }
  }

  &-icon {
    position: fixed;
    z-index: 1;
    top: 69px;
    right: 81.5px;
    @extend %inline-flex, %flex-center;
  }

  &-navigation {
    @extend %inline-flex, %flex-center;

    filter: drop-shadow(-35px 0 40px rgba($black, $opacity-5));
    background-color: $white;
    @include desktop-view {
      width: auto;
      height: 100%;
      padding: 0 176px;
    }
  }

  &-list {
    width: 100%;
  }

  &-item {
    @include vertical-items-spacer($spacer-mobile: 20px, $spacer-desktop: 20px);

    transform: translateX(0);
    transition: 0.3s $transition-style transform;
    cursor: pointer;

    &:hover {
      transform: translateX(8px);
      transition: 0.3s $transition-style transform;
    }
  }

  &-text {
    @extend %typography-section-title-normal;

    text-transform: uppercase;
    white-space: nowrap;
  }
}
