.popup {
  position: fixed;
  z-index: $z-root-popup;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $white;

  @extend %inline-flex, %flex-center;

  &-wrapper {
    @extend %inline-flex, %flex-center;

    position: relative;
    flex-direction: row-reverse;
    width: calc(100% - 32px);
    max-width: 600px;
    @include desktop-view {
      width: auto;
      max-width: unset;
    }

    &Tags {
      width: 100%;
      margin-top: 8px;
      @extend %inline-flex, %flex-start-row;
    }

    &Description {
      @extend %inline-flex, %flex-start-column;

      width: 100%;
      margin-top: 8px;
      margin-bottom: 20px;
      @include desktop-view {
        margin-top: 8px;
        margin-bottom: unset;
      }
    }
  }

  &-iconClose {
    position: absolute;
    top: 16px;
    right: 21px;
    @extend %inline-flex, %flex-center;

    @include desktop-view {
      position: relative;
      top: unset;
      right: unset;
      margin-left: 46px;
    }
  }

  &-body {
    @extend %inline-flex, %flex-start-row;

    justify-content: space-between;
    height: calc(100dvh - 24px);
    padding: 60px 0;
    border-radius: 18px;
    background-color: $white;
    @include desktop-view {
      width: 1199px;
      height: 730px;
      padding: 81px 19px 60px 163px;
    }
  }

  &-background {
    @extend %cover-background-image;

    width: 100%;
    height: 38%;
    @include desktop-view {
      width: 320px;
      height: 320px;
      padding-top: unset;
    }
  }

  &-content {
    @extend %inline-flex, %flex-start-row;

    height: (100% - 38%); // 38% is from the height of background
    margin-top: 20px;
    padding: 0 18px 40px;
    overflow-y: scroll;
    @include desktop-view {
      position: relative; // must be explicitly defined so %hover can work
      width: 530px;
      height: 100%;
      margin-top: 0;
      padding: unset;
    }
  }

  &-title {
    @extend %typography-section-title-normal;
  }

  &-description {
    @extend %typography-card-caption;
  }

  &-externalLink {
    @extend %typography-card-caption, %hover;
  }

  &-section {
    margin-top: 8px;
  }

  &-tag {
    margin-right: 8px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
