%section-wrapper {
  @extend %inline-flex;

  flex-direction: row;
  width: 100%;
  @include mobile-view {
    max-width: 1000px;
    margin: 0 $gutter-mobile/-2;
    padding: 48px 8px; // 18px - 10px
  }

  @include desktop-view {
    width: 1200px;
    margin: 0 $gutter-desktop/-2;
    padding: 100px 0;
  }
}

%end-page-wrapper {
  @extend %inline-flex, %flex-start-column;

  margin-top: 111px;
  margin-bottom: 98px;
  @include desktop-view {
    width: 100%;
    margin-top: 134px;
    margin-bottom: 132px;
  }
}
