// background colors
$bg-body: #fcf9f9;
$bg-pipe: #15c5a5;
$bg-section-highlight: #313131;
$bg-button-murid: #fdd;
$bg-button-donatur: #b8ffec;
$bg-button-voluntir: #d6ffb6;
$color-text-light: #fff;
$bg-popup-layer: #fcf9f9;

// text colors
$color-default-text: #454545;
$color-title: #000;
