// similar styling to siapaKami

.prestasi {
  @extend %full-flex;

  align-items: center;
  justify-content: center;

  &-wrapper {
    @extend %section-wrapper;

    @include desktop-view {
      align-items: center;
    }
  }

  &-wrapperLeft {
    @extend %col-mobile--6;
    @extend %col-desktop--5;

    flex-direction: column;
  }

  &-wrapperRight {
    @extend %col-mobile--6;
    @extend %col-desktop--7;

    align-items: flex-start;
    justify-content: flex-start;
  }

  &-paragraph {
    text-align: justify;
    @include mobile-view {
      margin-top: 4px;
      padding-left: 12px;
    }
    @include desktop-view {
      margin-top: 20px;
    }
  }

  &-album {
    width: 100%;
    @include mobile-view {
      margin-top: 37px;
    }
    @include desktop-view {
      width: calc(100% + 50px);
    }
  }
}
