.articleBody {
  @extend %end-page-wrapper;

  pre {
    width: 100%; // keep the code container 100%
  }

  &-wrapper {
    @extend %inline-flex, %flex-start-column;

    &Top {
      @extend %inline-flex, %flex-start-column;
      @include desktop-view {
        margin-bottom: 40px;
      }
    }

    &Bottom {
      @extend %inline-flex, %flex-start-row;

      justify-content: space-between;
      width: 100%;
    }

    &Section {
      @extend %full-flex, %flex-start-column;

      width: 100%;
      @include desktop-view {
        width: 811px;
      }
    }

    &Tags {
      @extend %inline-flex, %flex-start-row;
    }
  }

  &-title {
    @extend %typography-section-title-normal;

    margin-bottom: 32px;
  }

  &-tag {
    @include items-spacer($mobile: 10px, $desktop: 10px, $direction: 'right');
  }

  &-tableOfContent {
    @include mobile-view {
      display: none;
    }

    @extend %inline-flex, %flex-start-column;

    position: sticky;
    top: 80px;

    &Item {
      @extend %inline-flex, %flex-start-column;

      @include items-spacer(
        $mobile: 10px,
        $desktop: 10px,
        $direction: 'bottom'
      );
    }
  }

  &-section {
    h3 {
      @extend %typography-section-title-normal;

      margin-top: 60px;
      margin-bottom: 32px;

      &:first-of-type {
        margin-top: 0;
      }
    }

    p {
      @extend %typography-section-description;

      margin-bottom: 22px;
    }
  }
}
