.hero {
  @extend %grid-wrapper;

  height: 100vh;

  &-wrapper {
    @extend %col-mobile--6, %col-desktop--12, %flex-center;

    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }

  &-subtitle {
    @extend %typography-section-title-normal;

    margin-bottom: 5px;
  }

  &-caption {
    @extend %typography-section-description;

    margin-bottom: 5px;
  }

  &-link {
    @extend %typography-link-title;
  }
}
