.typography {
  &-special {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.02em;
    @include desktop-view {
      font-size: 64px;
      letter-spacing: 0.01em;
    }

    &--tight {
      font-size: 28px;
      font-weight: 700;
      letter-spacing: -0.05em;
      @include desktop-view {
        font-size: 36px;
        letter-spacing: -0.172em;
      }
    }
  }

  &-specialCounter {
    font-size: 36px;
    font-weight: 100;
    @include desktop-view {
      font-size: 48px;
    }
  }

  &-sectionTitle {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.32em;
    @include desktop-view {
      font-size: 36px;
      letter-spacing: 0.38em;
    }

    &--normal {
      font-size: 22px;
      font-weight: 500;
      @include desktop-view {
        font-size: 36px;
        font-weight: 300;
      }
    }
  }

  &-sectionDescription {
    font-style: 13px;
    font-weight: 300;
    @include desktop-view {
      font-size: 16px;
    }
  }

  &-cardTitle {
    font-style: 17px;
    font-weight: 500;
    @include desktop-view {
      font-size: 20px;
    }
  }

  &-linkTitle {
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    text-decoration: underline;
    text-transform: uppercase;
    @include desktop-view {
      font-size: 16px;
    }
  }

  &-linkDescription {
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
    text-decoration: underline;
    @include desktop-view {
      font-size: 12px;
    }
  }

  &-tagText {
    font-size: 11px;
    font-weight: 400;
    @include desktop-view {
      font-size: 14px;
      font-weight: 200;
    }
  }

  &-cardCaption {
    font-size: 14px;
    font-weight: 400;
    @include desktop-view {
      font-size: 12px;
      line-height: 20px;
    }
  }

  &-cardDescription {
    font-size: 15px;
    font-weight: 400;
    @include desktop-view {
      font-size: 14px;
    }
  }
}
