.wrapper {
  @extend %inline-flex;

  justify-content: flex-start;
  width: 100%;
  margin-right: -$gutter-mobile/2;
  margin-left: -$gutter-mobile/2;
  @include desktop-view {
    margin-right: -$gutter-desktop/2;
    margin-left: -$gutter-desktop/2;
  }
}
