*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
span {
  letter-spacing: 0.07em;
  line-height: 1.6em;
}

input:active,
input:focus {
  outline: none;
}

button {
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
}
